*{
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --white:#ffffff;
    --black:#1d1d1d;
    --body:#6b6b6b;
    /*dark mode*/
    --dmlight:#cacaca;
    --dmoperator:#3d3d3d;
    --dmbutton:#272727;
    --dmvisor:#272727;
    --dmbackground:#303030;
    /*light mode*/
    --lmlight:#cacaca;
    --lmoperator:#adadad;
    --lmbutton:#d8d8d8;
    --lmvisor:#c4c4c4;
    --lmbackground:#f5f5f5;
}

/*body*/

.container{
    margin-top: 40px;
    border: 2px black solid;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 3px;
    background-color: var(--body);
}

section{
    margin: 15px;
}

/*visor*/

input{
    border:none;
    background-color: transparent;
}

.result-container{
    height: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

input{
    max-width: 350px;
    text-align: end;
    font-size: 18px;
    font-family: 'Bebas Neue',sans-serif;
    margin: 2px;
    opacity: 60%;
}

.result{
    font-size: 35px;
    opacity: 100%;
}

/*keypad*/

.keypad{
    grid-row: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

/*buttons*/

.btn{
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 1px;
}

button.big{
    width: 123px;
    grid-column: span 2;
}

button p{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

/*colors*/

/*dark mode*/
body.dark{
    background-color: var(--dmbackground);
}

button.operator.dark{
    background-color:var(--dmoperator);
    color: var(--dmlight);
}

#clear.dark, #backspace.dark{
    background-color: var(--dmbutton);
    color: var(--white);
}

input.dark{
    color: var(--white);
}

button p.dark{
    color:var(--white)
}

.btn.dark{
    background-color: var(--dmbutton);
}

.result-container.dark{
    background-color:var(--dmvisor);
}

/*light mode*/
body.dark{
    background-color: var(--dmbackground);
}

button.operator.light{
    background-color:var(--lmoperator);
    color: var(--lmlight);
}

#clear.light, #backspace.light{
    background-color: var(--lmbutton);
    color: var(--black);
}

input.light{
    color: var(--black);
}

button p.light{
    color:var(--black)
}

.btn.light{
    background-color: var(--lmbutton);
}

.result-container.light{
    background-color:var(--lmvisor);
}
