*{
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --white:#F5F5F5;
    --orange:#ffd4ac;
    --lightGrey:#cacaca;
    --blue:#ace0ff;
    --red:#ffacac;
}

/**/

.container{
    margin-top: 40px;
    border: 2px black solid;
    background-color: rgb(172, 172, 172);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 10px;
}

section{
    margin: 15px;
}

/**/

input{
    border:none;
    background-color: transparent;
}

.result-container{
    border: 1px solid black;
    background-color:var(--lightGrey);
    height: 80px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/**/

.keypad{
    grid-row: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/*buttons*/

.btn{
    border: none;
    cursor: pointer;
    width: 80px;
    height: 60px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: var(--white);
}

button.big{
    width: 170px;
    grid-column: span 2;
}

button.operator{
    background-color:var(--orange);
}

button#equal{
    background-color:var(--lightGrey);
}

#clear{
    background-color: var(--red);
}

#backspace{
    background-color: var(--blue);
}

button p{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

input{
    max-width: 350px;
    text-align: end;
    font-size: 10px;
    font-family: 'Press Start 2P','impact',sans-serif;
    margin: 2px;
    opacity: 60%;
}

.result{
    font-size: 32px;
    opacity: 100%;
}